@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400);
html,
body {
  margin: 0;
  padding: 0;
  background:  #152039;
  font-family: "Open Sans", sans-serif;
}

.l-site {
  margin: 0 auto;
  max-width: 2000px;
  position: relative;
  z-index: 1;
}


.l-page {
  position: relative;
  margin-left: 240px;
  background: #152039;
  z-index: 2;
  box-shadow: 1px 0 25px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  transition: 0.35s;
}

.l-nav {
  position: absolute;
  width: 240px;
  display: block;
  background: #152039;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.band-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 3em 0 4em;
}

.band-a {
  background: #f32c2c;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-height: 85vh;
  max-width: 960px;
  display: table;
  position: relative;
  padding: 0 3em;
}
.band-a h1 {
  margin: 0;
  padding: 0 0 10px;
  color: #fff;
  font-size: 32px;
}
.band-a p {
  margin: 0;
  padding: 0 0 10px 0;
  color: #fff;
  font-size: 17px;
  text-align: justify;
}

.band-b {
  background:  #000000;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-height: 45vh;
  max-width: 960px;
  display: table;
  position: relative;
  padding: 0 3em;
}
.band-b h1 {
  margin: 0;
  padding: 0 0 10px;
  color: #fff;
  font-size: 32px;
}
.band-b p {
  margin: 0;
  padding: 0 0 10px 0;
  color:  #34eb19;
  font-size: 17px;
  text-align: justify;
}

.band-c {
  background: #fde165;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-height: 45vh;
  max-width: 960px;
  display: table;
  position: relative;
  padding: 0 3em;
}
.band-c h1 {
  margin: 0;
  padding: 0 0 10px;
  color: #333;
  font-size: 32px;
}
.band-c p {
  margin: 0;
  padding: 0 0 10px 0;
  color: #333;
  font-size: 17px;
  text-align: justify;
}

.band-a-hackeaco {
    background:  #000000;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-height: 8vh;
    max-width: 960px;
    display: table;
    position: relative;
    padding: 0 3em;
}
.band-a-hackeaco h1 {
    margin: 0;
    padding: 0 0 10px;
    color: #fff;
    font-size: 32px;
}
.band-a-hackeaco p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 17px;
    text-align: justify;
}
  
.band-b-hackeaco {
    background: #000000;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-height: 85vh;
    max-width: 960px;
    display: table;
    position: relative;
    padding: 0 3em;
}
.band-b-hackeaco h2 {
    margin: 0;
    padding: 0 0 10px;
    color: #fff;
    font-size: 32px;
    text-align: justify;
}
.band-b-hackeaco p {
    margin: 0;
    padding: 0 0 15px 0;
    color: #34eb19;
    font-size: 17px;
    text-align: justify;
}

.band-a-transparencia {
    background:#fde165;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-height: 20vh;
    max-width: 960px;
    display: table;
    position: relative;
    padding: 0 3em;
}
.band-a-transparencia h1 {
    margin: 0;
    padding: 0 0 10px;
    color: #333;
    font-size: 32px;
    text-align: justify;
}
.band-a-transparencia p {
    margin: 0;
    padding: 0 0 10px 0;
    color: #333;
    font-size: 17px;
    text-align: justify;
}
  
.band-b-transparencia {
    background: #fff7d5ff;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-height: 85vh;
    max-width: 960px;
    display: table;
    position: relative;
    padding: 0 3em;
}
.band-b-transparencia h1 {
    margin: 0;
    padding: 0 0 10px 0;
    color: #333;
    font-size: 32px; 
}
.band-b-transparencia p {
    margin: 0;
    padding: 0 0 10px 0;
    color:  #333;
    font-size: 17px;
    text-align: justify;
}

.Box{
    width: 600px;
    height: 30px;
    border: 1.5px solid #fde165;
    font-size: 16px;
    color: #333;
    background-color: #fde165;
}

.flexWrap {
    display: flex;
    width: 100%;
}
.flexCol {
    box-sizing: content-box;
    padding: 0 0 10px 0;
    border-radius: 20px;
    width: 450px;
    background:  #fff7d5ff;
}
/* (B) BREAK DOWN 1 COLUMN ON SMALL SCREENS */
@media only screen and (max-width: 608px) {
    .flexWrap { flex-wrap: nowrap; }
    .flexCol { width: 100%; }
}

.nav {
  width: 180px;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 30px;
  overflow: auto;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav li {
  margin: 0;
  padding: 0;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}
.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  display: block;
  padding: 10px 0;
}
.nav .nav-primary {
  opacity: 1;
}
.nav .nav-primary:hover {
  opacity: 0.7;
}
.nav .nav-secondary {
  opacity: 0.4;
}
.nav .nav-secondary:hover {
  opacity: 0.7;
}

.menu {
  display: none;
  position: fixed;
  top: 25px;
  left: 1.5em;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 10;
}
.menu:hover .menu-hamburger:before,
.menu:hover .menu-hamburger:after {
  width: 24px;
}
.menu.is-active .menu-hamburger {
  background: none;
}
.menu.is-active .menu-hamburger:before,
.menu.is-active .menu-hamburger:after {
  top: 0;
  width: 24px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu.is-active .menu-hamburger:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu.is-active .menu-hamburger:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.menu-hamburger {
  position: relative;
  width: 24px;
  height: 4px;
  margin: 10px 0;
  background: #fff;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-hamburger:before, .menu-hamburger:after {
  content: "";
  display: block;
  width: 24px;
  height: 4px;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-hamburger:before {
  top: -8px;
  left: 0;
  width: 22px;
}
.menu-hamburger:after {
  top: 8px;
  width: 16px;
  left: 0;
}

@media screen and (max-width: 980px) {
  .menu {
    display: block;
  }

  .l-site.is-open {
    overflow: hidden;
  }
  .l-site.is-open .l-page {
    -webkit-transform: translateX(240px);
    -moz-transform: translateX(240px);
    -ms-transform: translateX(240px);
    -o-transform: translateX(240px);
    transform: translateX(240px);
  }

  .l-page {
    margin-left: 0;
    z-index: 3;
  }

  .l-nav {
    z-index: 2;
  }

  .band-container {
    padding: 0 1.5em;
  }
}

.page-footer {
    background-color: #152039;
    padding: 40px 0;
    margin-top: 80px;
}

.social-media-links {
    font-size: 1.3em;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.social-media-links a {
    color: #fff7d5;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
